:root {
    --main-color: black;
    --text-color: white;
    --switch-background: black;
    --switch-border: white;
    --switch-button-position: -7.75rem;
}

#colorMode:checked ~ * {
    --main-color: white;
    --text-color: black;
    --switch-background: white;
    --switch-border: black;
    --switch-button-position: -6.25rem;
}

body{
    margin:0;
  }

svg {
    width: 75%;
    height: 75%;
    fill: var(--text-color);
    transition: fill 2000ms;
}

.topContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.topLeftContainer {
    height: 100vh;
    width: 50vw;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topRightContainer {
    height: 100vh;
    width: 50vw;
    border: 0;
}

.container {
    background-color: var(--main-color);
    color: var(--text-color);
    transition: color 2000ms, background-color 2000ms;
}

#colorMode {
    display: none;
}

#colourSwitchLabel {
    padding-left: 3.875rem;
    position: relative;
}

#colourSwitchLabel::before {
    position: absolute;
    content: "";
    height: 1.875rem;
    width: 3.375rem;
    background-color: var(--switch-background);
    border: 1px solid var(--switch-border);
    border-radius: 0.9375rem;
    cursor: pointer;
    transition: background-color 200ms;
    transform: translate(-3.375rem, 0);
}

/* #colorMode:checked + #colourSwitchLabel:before {
    background-color: green;
    border-color: green;
  } */

label:after {
    position: absolute;
    content: "";
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 0.9375rem;
    background-color: blue;
    /* left: 0.3125rem;
    top: 50%; */
    transform: translate(var(--switch-button-position), 0.045rem);
    cursor: pointer;
    transition: transform 200ms;
}